.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  cursor: pointer;
}
section {
  padding-top: 64px;
  padding-bottom: 32px;
}
.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
#errorCount {
  color: red;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 32px;
}

.button {
  text-align: center;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 20px;
}

.game-message {
  font-size: 32px;
  font-weight: 700;
  padding: 12px 0;
}
